# 6.5.1 Set Up Google Maps and Places API  

# 6.5.2 Create Heatmaps for Weather Parameters   
For a basic heatmap provide the following:  
- Latitudes and longitudes for the locations  
- A measurement value for each latitude and longitude in the form of arrays that have the same number of items in each array

In [31]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import json
# Import the API key.
from config import g_key

In [32]:
# The data we use for any mapping must be either an integer or a floating-point decimal number

# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-07-25 22:42:28,-23.1203,-134.9692,71.06,68,15,5.21
1,1,Xai-Xai,MZ,2021-07-25 22:42:28,-25.0519,33.6442,60.26,72,16,6.44
2,2,Tasiilaq,GL,2021-07-25 22:42:28,65.6145,-37.6368,42.96,82,35,3.71
3,3,Maldonado,UY,2021-07-25 22:38:26,-34.6667,-54.9167,60.22,96,84,6.31
4,4,Cherskiy,RU,2021-07-25 22:42:29,68.7500,161.3000,51.91,52,9,8.14

In [33]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

### Create a Maximum Temperature Heatmap  
#### Create the heatmap for the maximum temperature. The general syntax for creating a heatmap is as follows:  
- 1. Assign the locations to an array of latitude and longitude pairs.
locations = [latitude, longitude]
- 2. Assign the weights variable to some values.
temperatures = # an array of length equal to the locations array length
- 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
- 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)
- 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
- 6. Call the figure to plot the data.
fig

In [34]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

1. Assign the locations to an array of latitude and longitude pairs.
- locations = [latitude, longitude]
2. Assign the weights variable to some values.
- temperatures = # an array of length equal to the locations array length
3. Assign the figure variable to the gmaps.figure() attribute.
- fig = gmaps.figure()
4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
- heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)
5. Add the heatmap layer.
- fig.add_layer(heatmap_layer)
6. Call the figure to plot the data.
- fig

In [35]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [36]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable. Add a center and zoom level to the gmaps.figure() attribute
# Adjust Heatmap Zoom, Intensity, and Point Radius
#      First, add the geographic center of Earth in the form of latitude and longitude (30.0° N and 31.0° E).  
#      Also, add a zoom level so that only one map of Earth is shown.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Create a Percent Humidity Heatmap
Now that we have created our maximum temperature heatmap, create the heatmap for humidity.  
Reuse the code and use the humidity values for the measurements.

In [37]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Create a Percent Cloudiness Heatmap

In [38]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Create a Wind Speed Heatmap

In [39]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# 6.5.3 Get Vacation Data  
need to prompt the user to enter the minimum and maximum temperature ranges  
as floating-point decimal numbers to filter the city_data_df DataFrame.  
To convert the input to a floating-point decimal number,  
wrap the input() statement with the float() method, like this: float(input()).

In [40]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [41]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Albany,US,2021-07-25 22:42:29,42.6001,-73.9662,81.25,88,29,4.68
8,8,Gimli,CA,2021-07-25 22:42:30,50.6336,-96.9907,86.43,28,62,11.50
9,9,Pocone,BR,2021-07-25 22:42:30,-16.2567,-56.6228,82.81,29,2,5.79
14,14,Les Cayes,HT,2021-07-25 22:42:31,18.2000,-73.7500,82.11,76,100,6.40
15,15,Bonthe,SL,2021-07-25 22:42:32,7.5264,-12.5050,76.62,82,100,6.02
17,17,Linjiang,CN,2021-07-25 22:42:32,41.8069,126.9078,78.35,76,99,2.01
19,19,San Cristobal,VE,2021-07-25 22:42:33,7.7669,-72.2250,75.38,86,100,3.13
22,22,Hithadhoo,MV,2021-07-25 22:42:34,-0.6000,73.0833,81.01,73,90,4.45
23,23,Avarua,CK,2021-07-25 22:42:34,-21.2078,-159.7750,78.85,73,40,9.22
28,28,Yucca Valley,US,2021-07-25 22:39:04,34.1142,-116.4322,89.82,44,51,5.99

In [42]:
# Determine if there are any null values and drop nulls
preferred_cities_df.dropna().count()

City_ID       217
City          217
Country       217
Date          217
Lat           217
Lng           217
Max Temp      217
Humidity      217
Cloudiness    217
Wind Speed    217
dtype: int64

# 6.5.4 Map Vacation Criteria
Once the customers have filtered the database (DataFrame) based on their temperature preferences,  
show them a heatmap for the maximum temperature for the filtered cities. In addition, create a marker for  
each city that will display the name of the city, country code, maximum temperature,  
and name of a nearby hotel within three miles of the coordinates when the marker is clicked.  

Using the coordinates from the preferred_cities_df DataFrame, find a hotel using our Google Places API and  
then retrieve that hotel information. Once we retrieve the hotel information,  
we'll need to store it so we can reference it and add the information to the pop-up marker.

### Get Travel Destinations  
Need to create a new DataFrame specifically for the data needed to create a heatmap and pop-up markers.  
Make a copy of the preferred_cities_df DataFrame and name it hotel_df.  
For the hotel_df, keep the columns "City," "Country," "Max Temp," "Lat," and "Lng." 
Add a new column to the hotel_df DataFrame to hold the name of the hotel.

In [43]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
6          Albany      US     81.25  42.6001  -73.9662
8           Gimli      CA     86.43  50.6336  -96.9907
9          Pocone      BR     82.81 -16.2567  -56.6228
14      Les Cayes      HT     82.11  18.2000  -73.7500
15         Bonthe      SL     76.62   7.5264  -12.5050
17       Linjiang      CN     78.35  41.8069  126.9078
19  San Cristobal      VE     75.38   7.7669  -72.2250
22      Hithadhoo      MV     81.01  -0.6000   73.0833
23         Avarua      CK     78.85 -21.2078 -159.7750
28   Yucca Valley      US     89.82  34.1142 -116.4322

### Retrieve Hotels from a Nearby Search  
The first step for retrieving hotels from a Nearby Search is to set the parameters for the search.  
#### Set the Parameters for a Nearby Search  
To find the nearest establishment to geographic coordinates,  
use the Google Places Nearby Search request. First, navigate to the Nearby Search requests page.  

The Nearby Search request lets us perform these tasks:
- Search for places within a specified area.
- Refine the search using keywords and specifying the type of place we are searching for.
- Use an API URL, where the output can be either XML or JSON format.
- Although very similar to our OpenWeatherMap API search, with the Google Places Nearby Search, we'll add a specified area and keyword to search.

The documentation states must provide specific parameters.

#### Specific parameters include:
- Our API key
- A location, which will be the latitude and longitude
- A radius for the search. The radius can be up to 50,000 meters or approximately 31 miles. This distance is much too great for finding hotels, so we'll keep our search to 5,000 meters.
- If we use the rankby=distance for a parameter, we need to add one or more of the three parameters above. We won't use the rankby=distance because we will be search based on the radius from a given latitude and longitude.
We can add optional parameters such as a keyword, a type of business, or the name of a business.

#### For our hotel search, we'll use these parameters:
- API key
- Latitude and longitude
- 5,000-meter radius
- Type of place
To discover the support types we can use, click on the link "list of supported types"  
in the optional parameters list (shown in the image above) or navigate to the Place Types guide (Links to an external site.).

On the webpage, Table 1 shows all the different Place types values.  
"Hotel" does not appear, but "lodging" does, so we will use the string "lodging" for the type parameter.

In [99]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}  

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
    hotel_df

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [100]:
len(hotels["results"])

20

In [101]:
hotel_df.dropna()

,City,Country,Max Temp,Lat,Lng,Hotel Name
6,Albany,US,81.25,42.6001,-73.9662,
8,Gimli,CA,86.43,50.6336,-96.9907,Lakeview Gimli Resort
9,Pocone,BR,82.81,-16.2567,-56.6228,Hotel e Churrascaria Pantaneira
14,Les Cayes,HT,82.11,18.2000,-73.7500,Villa Orphee
15,Bonthe,SL,76.62,7.5264,-12.5050,Bonthe Holiday Village
...,...,...,...,...,...,...
580,Tari,NG,81.28,12.4086,4.4914,
581,Pumiao,CN,75.60,22.7500,108.4833,Mushang Boutique Hotel
582,Two Hills,CA,77.88,53.7169,-111.7518,Junction Inn
584,Shawville,CA,81.09,45.6001,-76.4827,Shawville Hotel
585,Jiaohe,CN,75.90,43.7286,127.3447,Home Inn Fashion Hotel

### Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [103]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [104]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row)
              for index, row in hotel_df.iterrows()]

In [106]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))